---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  firstName: "Julian",
  country: "USA",
  occupation: "Many Things",
  hobbies: ["futures", "cinematography", "writing"],
  more: "https://julianbleecker.com",
};

const skills = ["Writing", "Cinematography", "Creating Communities", "Design Fiction", "Cycling", "Entrepreneur"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>The New Blog</h2>

  <p>
  
  </p>

  <p>

  </p>

  {happy && <p>I am happy to be alive</p>}

  {finished && <p>We're here and running the 3rd evolution of the Near Future Laboratory</p>}

  {
    goal === 3 ? (
      <p>Good to go.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is <a href={identity.more}>{identity.firstName}</a>.</li>
    <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p><p></p><ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
