---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import DigestPost from "../components/DigestPost.astro";
const pageTitle = "Digest from the Near Future Laboratory Discord";
const posts = await getCollection("digest");
const allPosts = posts.sort((a, b) => {
        const dateA = new Date(a.data.pubDate);
        const dateB = new Date(b.data.pubDate);
        return dateA > dateB ? -1 : dateA < dateB ? 1 : 0; // For ascending order, use `dateA - dateB`
    });

---

<BaseLayout pageTitle={pageTitle}>
  <p>Digest from the Near Future Laboratory Discord.</p>
  <ul>
    {
      allPosts.map((post) => (
      <DigestPost url={`/digest/${post.slug}/`} pubDate={post.data.pubDate} author={post.data.author} message={post.data.cleanContent} channel={post.data.channel} summary={post.data.summary} />
      ))
    }
  </ul>
</BaseLayout>
