---
// Import statements and any page-specific logic
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostExcerpt from '../components/PostExcerpt.astro'
import PostExcerpt, {
  PropHeadings,
  PropRenderer,
} from '@igor.dvlpr/astro-post-excerpt'
import Greeting from '../components/Greeting';
const pageTitle = "Near Future Laboratory Back Office";
import Archive from '../components/Archive.astro'
import { getPostsByYear } from '../utils/getPostsByYears.js';

const postsByYear = await getPostsByYear();

// Fetching all posts
//const allPosts = await getCollection('blog');
const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return data.isDraft !== true;
});
// Sorting posts to get the latest post
const latestPost = publishedBlogEntries.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))[0];
// const latestPostContent = await Astro.fetchContent(latestPost.url);
const { Content, headings } = await latestPost.render();
const allDigests = await getCollection('digest');
const latestDigest = allDigests.sort((a, b) => new Date(b.data.pubDate - new Date(a.data.pubDate)))[0];

// Function to extract the first 200 words
function extractFirstWords(text, limit) {
  return text.split(" ").slice(0, limit).join(" ") + '...';
}
---

<BaseLayout pageTitle={pageTitle}>
    <!-- Latest Post Excerpt -->
    <div class="posttitle pb-14" style="font-size: 2rem">Latest Post from the Back Office</div>
    <section>
      <div class="index-post-title-header"><a href={`/blog/${latestPost.slug}`}>{latestPost.data.title}</a>
      <div class="text-zinc-600 font-mono text-[0.7rem] pt-2">{latestPost.data.pubDate}</div>
      </div>
      <div class="index-post-content">

      <PostExcerpt post={latestPost} words={10} addEllipsis={true} renderer={PropRenderer.Html}/>
      <span/>
      <a class="block mt-5 text-sm sm:text-sm md:text-base" href=`/blog/${latestPost.slug}`>Read more</a>

    </div>
      <!-- {extractFirstWords(latestPost.body, 50)} -->
    </section>
  
    <!-- Last 10 Posts -->
    <section style="background-color: #f0f0f0;">
      <!-- ... -->
    </section>
  
    <!-- Posts by Year -->
    <section class="mb-[100px]">
      <!-- ... -->
    </section>
  <Archive postsByYear={postsByYear}/>

</BaseLayout>


