---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import DigestPost from "../components/DigestPost.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "A Few Projects from the Near Future Laboratory";
const posts = await getCollection("nfl_projects");
// from all the posts, find the projects as named in the frontmatter
const allPosts = posts.sort((a, b) => {
        const dateA = new Date(a.data.projectYear);
        const dateB = new Date(b.data.projectYear);
        return dateA > dateB ? -1 : dateA < dateB ? 1 : 0; // For ascending order, use `dateA - dateB`
    });
const publishedPosts = allPosts.filter(post => !post.data.isDraft);

---

<BaseLayout pageTitle={pageTitle}>
  <ul>

    {
      publishedPosts.map((post) => (
      <p style="margin-bottom: 10px;" class="date">{post.data.projectName} ({post.data.projectYear})</p>
      <p style="line-height: 1rem; margin-bottom: 1rem;" class="date">{post.data.summary}</p>
      <DigestPost url={`/projects/${post.slug}/`} pubDate={post.data.pubDate} author={post.data.client} message={post.data.description} channel={post.data.channel} summary={post.data.summary} />
      ))
    }
  </ul>
</BaseLayout>
