---
const { title, url, pubDate, summary, author, channel } = Astro.props
console.log(pubDate)
const formattedDate = new Intl.DateTimeFormat('en-US', { 
    year: 'numeric', 
    month: 'short', 
    day: '2-digit' 
}).format(pubDate);
---
<div class="grid grid-cols-[minmax(200px,auto)_1fr] gap-4 mb-10">
    <div class="date-mono w-32">{formattedDate}
    <span class="blockquote-short">{author}
    </span>
</div>
    <div class=""><a style="text-decoration: none" href={url}>{title}</a></div>
</div>
<!-- <div class="mb-8 grid grid-cols-[minmax(200px,auto)_1fr] gap-4">
    <div></div><div class="data-mono my-64px">{description}</div>
</div> -->