---
const { isDraft, title, url, pubDate, description, author } = Astro.props
const formattedDate = new Intl.DateTimeFormat('en-US', { 
    year: 'numeric', 
    month: 'short', 
    day: '2-digit' 
}).format(pubDate);
---

<div class="index-post-title-header">{title}</div>
<div class="index-post-content">
<div class={`relative grid grid-cols-[minmax(100px,auto)_1fr] gap-1 mb-[10px] min-h-[100px]`}>
    {isDraft && <div class="draft-label">DRAFT</div>}
    <div class="date-mono w-32">{formattedDate}
    </div>
    
    <div class={`${isDraft ? 'blur-[2px]' : ''}`}>
        {isDraft 
            ? <span class="block">{title}</span>
            : <a class="block" href={url}>{title}</a>
        }
        {description && (
            <span class="bg-zinc-100 block rounded-md text-sm py-1 pl-1 pr-3 text-black">
                {description}
            </span>
        )}
    </div>
</div>
</div>
