---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>{frontmatter.pubDate.toLocaleString('en-US', {dateStyle: 'full', timeStyle: 'long', hour12: false, timeZone: 'America/Los_Angeles' })}</p>
  <!-- <p><em>{frontmatter.description}</em></p>
  <p>By {frontmatter.author}</p>
  <img src={frontmatter.image?.url} width="300" alt={frontmatter.image?.alt} /> -->
{
  Object.entries(frontmatter.meta).map(([key, value]) => (
    <Fragment key={key}>
      <strong>{key}</strong>, <strong>{value}</strong>
      </Fragment>
      ))
}
  <slot />
</BaseLayout>

