---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
var headImageSrc;
if (frontmatter.image !== undefined && frontmatter.image.url) {
  headImageSrc = frontmatter.image?.url;
}
---
<BaseLayout pageTitle={frontmatter.title} frontmatter={frontmatter}>
  <p class="description mt-[1em]">{frontmatter.description}</p>
  <img class="blog-header-img" src={headImageSrc} />
  <p class="date mb-0">Contributed By: {frontmatter.author}</p>
  <p class="date">{frontmatter.pubDate.toLocaleString('en-US', {dateStyle: 'full', timeStyle: 'long', hour12: false, timeZone: 'America/Los_Angeles' })}</p>
  <slot />
</BaseLayout>

