---
import ProjectsBaseLayout from "./ProjectsBaseLayout.astro";
const { frontmatter } = Astro.props;
---
<ProjectsBaseLayout pageTitle={frontmatter.projectName} headTitle={frontmatter.projectName} frontmatter={frontmatter}>
  <figure>
    <img src={frontmatter.projectImages[0].url} alt={frontmatter.projectImages[0].altText}>
    <figcaption>{frontmatter.projectImages[0].caption}</figcaption>
   </figure>
   <p class="description mt-[1em]">{frontmatter.description}</p>
   <div class="w-full md:w-1/2 rounded-sm rounded-sm bg-slate-200 pl-4 pr-4 py-3">
   <p class="date mb-0">Contributed By: {frontmatter.author}</p>
   <p class="date mb-1">Project Summary: {frontmatter.summary}</p>
   <p class="date mb-0">Project Type: {frontmatter.projectType}</p>
   <p class="date mb-0">Project Duration: {frontmatter.projectDurationWeeks} Weeks</p>
   <p class="date mb-0">Project Year: {frontmatter.projectYear}</p>
   <p class="date mb-0">Document Published On: {frontmatter.pubDate.toLocaleString('en-US', {dateStyle: 'medium', timeStyle: 'short', hour12: false, timeZone: 'America/Los_Angeles' })}</p>  
  </div>

  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 w-full">  
  <figure>
    <img src={frontmatter.projectImages[1].url} alt={frontmatter.projectImages[1].altText}>
    <figcaption>{frontmatter.projectImages[1].caption}</figcaption>
   </figure>
   <figure>
    <img src={frontmatter.projectImages[2].url} alt={frontmatter.projectImages[2].altText}>
    <figcaption>{frontmatter.projectImages[2].caption}</figcaption>
   </figure>
  </div>

  <slot />
</ProjectsBaseLayout>

